@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
html {
	overflow: hidden;
}
body{
	position: relative;
	font-family: 'Rubik', Arial, sans-serif;
}
.headerContainer{
	position: fixed;
	max-width: 100%;
	background-image: linear-gradient(to bottom, rgba(70,70,70,1) 0%, rgba(70,70,70,0) 80%);
	z-index: 2;
}
.headerContainer .btn-link svg {
	margin-right: 8px;
}
.container header{
	border-bottom: none !important;
}
.headerContainer .btn-link {
	color: white;
	text-decoration: none;
}
.headerContainer .btn-link span {
	padding-right: 8px;
}
.headerContainer .btn-link:hover {
	opacity: 0.8;
	transition: 0.2s ease;
}
.headerContainer .btn-link:focus {
	box-shadow: none;
}

.modal-header .close {
	background-color: #36939B;
    border-radius: 6px;
    color: white;
    padding: 6px;
    cursor: pointer;
	line-height: 1;
	font-size: 24px;
	padding: 7px 12px;
	border: 0;
}
.modalContent{
	padding: 2% 8%;
}
.naslov{
	font-weight: 700;
	font-size: 18px;
	color: #111827;
}
.modal{
	background: #111827;
}
.modalLogo{
	margin-top: -30px;
}
.naslovPopupDiv{
	display: inline-flex;
}
.naslovPopupDiv #izdatoPopup{
	padding-left: 5px;
	color: #EF4444;
	font-weight: 700;
}
.contactPopup .modalContact {
	padding-top: 16px;
}
.contactLink{
	margin-bottom: 10px;
}
.contactLink svg {
	color: #36939B;
}
.modalContact{
	padding-top: 8px;
}
.modalContact h2{
	color: #36939B;
}
.modal-header{
	padding: 8px;
	border-bottom: none;
}
.modal-header img{
	padding-top: 24px;
}
.modal-footer-text{
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #6B7280;
}
#slika_prostor{
	border-radius: 4px;
}
.dashSeparator { 
	width: 32px; 
	height: 32px; 
	position: relative;
  }
.dashSeparator:before { content: '';
	position: absolute;
	border-bottom: 2px #6B7280 solid;
	height: 32px;
	width: 32px;
	transform: translateY(-50%);
	 }
.modal-header{
	align-items: start;
}
.closeIcon {
	background-color: #36939B;
	border-radius: 6px;
	color: white;
	padding: 6px;
	cursor: pointer;
}
.verticalAlign{
	margin-top: auto;
	margin-bottom: auto;
}
.popupCloseIcon{
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 30px;
}

.modalPlanSlika{
	padding-top: 15px;
}

#slika_plan_siri{
	padding: 10% 30% 0% 0%;
}
#slika_plan_parcele{
	padding: 10% 15% 0% 15%;
}
.modalContact #telNumber{
	padding-left: 5px;
	color: inherit;
	text-decoration: none;
}
.modalContact #email{
	padding-left: 5px;
	color: inherit;
	text-decoration: none;
}
.divInfo{
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
}
.planImages .planDiv{
	border-bottom: 1px solid #6B7280;
	border-top: 1px solid #6B7280;
	display: flex;
	padding: 32px 0px;
}
.planImages .imgLeft{
	padding-right: 10px;
}
.planImages .imgRight{
	padding-left: 10px;
}
.footerImg{
	padding-top: 32px;
	padding-bottom: 32px;
}


/* SVG */

#mainSvg {
	width: 100%;
	height: auto;
}

#building:hover{
	transition: 0.2s;
	cursor: pointer;
}
#dot_pin:hover{
	transition: 0.2s;
	cursor: pointer;
}

/* popup */
.popup {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 250px;
	background-color: #fff;
	color: #6B7280;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
#izdatoImg {
	position: absolute;
	right: 60px;
	top: 150px;
}
/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
  }
  
  .popupTextData p:last-child{
	  margin-bottom: 0px;
  }
  
  .popupTextData h4{
	  font-weight: 700;
	  font-size: 14px;
	  padding-bottom: 8px;
  }
  .popup .popupTextData{
	  padding: 16px;
	  border-bottom: 1px solid #D1D5DB;
	  font-size: 14px;
	  line-height: 18px;
	  font-weight: 400;
	  color: #111821;
  }
/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn .5s;
  }
  .lokacijaPopup{
	  text-align: center;
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 24px;
	  color: #111827;
	  margin-top: 15px;
  }
  
  .popup .popupLink {
	  padding: 10px;
  }
/* Contact popup */
.contactPopup{
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.9;
}
.contactPopup .popuptextcontact {
  visibility: hidden;
  width: 220px;
  background-color: #fff;
  color: #6B7280;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 70px;
  right: 25px;
  margin-left: -80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
.contactPopup .show{
  visibility: visible;
  animation: fadeIn 1s;
}
.contactPopupInfo{
	padding: 5px;
	color: inherit;
	text-decoration: none;
}
.contactPopupInfo:hover{
	color: inherit;
}
.contactPopup .contactPopupTextData{
	padding: 14px 16px 0px 16px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}
.popup .popupLink .btn-link {
	color: #0291AC;
	text-decoration: none;
	padding: 0px;
	width: 100%;
	text-align: left;
}
.popup .popupLink .btn-link:focus {
	box-shadow: none;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.logo:hover{
	opacity: 0.9;
}

/* gallery */
.galleryContainer{
	position: fixed;
	max-width: 100%;
	bottom: 0;
}
.galleryContainer section {
	display: flex;
}
.fullscreen_icon{
	position: fixed;
	bottom: 12px;
	right: 12px;
}
.fullscreen_icon:hover{
	cursor: pointer;
	opacity: 0.9;
}
/* Start Gallery CSS */

.thumb:last-child {
	margin-bottom: 0;
}
/* CSS Image Hover Effects: https://www.nxworld.net/tips/css-image-hover-effects.html */
.thumb 
figure img {
  filter: grayscale(75%);
  transition: .3s ease-in-out;
}
.thumb 
figure:hover img {
  filter: grayscale(0);
}

.img-thumbnail{
	padding: 0px;
	border: none;
	box-shadow: rgb(0 0 0 / 20%) 0px 10px 15px -3px, rgb(0 0 0 / 20%) 0px 4px 6px -2px;
}

/* arrows */
.arrow_back{
	position: fixed;
	bottom: 50%;
	right: 1%;
	z-index: 1;
}
.arrow:hover{
	cursor: pointer;
	opacity: 0.9;
}
.arrow_front{
	position: fixed;
	bottom: 50%;
	left: 1%;
	z-index: 1;
}

#homepage .arrow{
	display: none;
}
.notification{
	display: flex;
	position: fixed;
	max-width: 100%;
	bottom: 2%;
	border-radius: 6px;
	background-color: #f0fdfa;
	color: #36939B;
	font-size: 14px;
	line-height: 21px;
	margin: 2%;
}
.notification .notificationContent{
	padding: 16px;
	margin: 10px 10px 0px 0px;
}

.notificationContainer{
	position: fixed;
	max-width: 100%;
	bottom: 0;
}
.notificationInfoIcon{
	margin-left: 5%;
}
.notificationContainer section {
	display: flex;
}

@media (max-width: 768px) {

	body{
		background: black !important;
	}
	.fullscreen_icon{
		display: none !important;
	}
	#mainSvg {
		width: auto;
		height: 100vh !important;
	}
	#slika_plan_siri{
		padding: 30px;
	}
	#slika_plan_parcele{
		padding: 30px;
	}
	.planImages .imgRight {
		margin-top: 32px;
	}
	.popup .popuptext::after {
		content: none;
	}
	.thumb{
		padding-right: calc(var(--bs-gutter-x) * .3);
		padding-left: calc(var(--bs-gutter-x) * .3);
	}
 }
 
 @media only screen and (orientation: landscape) and (max-device-width: 992px) {
	.thumb {
		width: 60px;
		padding-right: calc(var(--bs-gutter-x) * .3);
		padding-left: calc(var(--bs-gutter-x) * .3);
	}
	.galleryContainer section {
		justify-content: center;
	}
 }