<template>
  <div id="app">
    <div id="content">
      <transition :name="transitionName" mode="out-in">
        <router-view></router-view>
      </transition>
      <img class="fullscreen_icon" src="@/assets/fullscreen_icon.svg" @click="fullscreenmode" alt="fullscreen icon">
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data () {
    return { transitionName: null }
  },
  watch: {
    '$route' (to, from) {
      if (from.path === '/') {
        this.transitionName = 'zoom';
      } else {
        this.transitionName = 'fade';
      }
    }
  },
  methods: {
    fullscreenmode: function() {
    var fullScreenMode = document.fullScreen || document.webkitIsFullScreen || document.mozFullScreen;
		var elem = document.querySelector("#bodyId");
		if (fullScreenMode == false) {
			if (elem.requestFullscreen) {
				elem.requestFullscreen();
			} else if (elem.webkitRequestFullscreen) { /* Safari */
				elem.webkitRequestFullscreen();
			}
		} else {
			if (document.exitFullscreen) {
				document.exitFullscreen();
			} else if (document.webkitExitFullscreen) { /* Safari */
				document.webkitExitFullscreen();
			}
		}
    }
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: #111827;
}

.zoom-leave-active {
  animation-duration: 0.7s;
  animation-name: zoom;
  animation-direction: reverse;
}
.fade-leave-active{
  transition: opacity .5s ease-out;
}
.fade-enter-active {
  transition: opacity .5s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0.1
}

@keyframes zoom {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    transform: scale3d(1.6, 1.6, 1.6);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
</style>
